#body{
	background-color: black;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: 100%;
	color: rgb(229,229,229);
	text-align: justify;
	padding:1%;
}

#wrapper{
	width: 75%;
	border:2px solid green;
	backdrop-filter: blur(10px);
    background-color: rgba(40, 40, 40, 0.5); 
}
/* inicio navbar*/
#divnav{
	width: 23%;
	height: 100%;
	float: right;
	margin: 0%;
}

#navbar{
	backdrop-filter: blur(10px);
    background-color: rgba(40, 40, 40, 0.5);
    border: 2px solid yellow;
    /*botar um widget do twitter do bts com os ultimos tweets, agenda e últimas notícias*/
}

.navbartitle{
	font-size: 20px;
	backdrop-filter: blur(10px);
    background-color: rgba(40, 40, 40, 0.5);
    text-align: center;
}

.a{
	text-decoration: none;
    color: white;
    clear: both;
    display: block;
    padding: 2%;
}

.description{
    width: 100%;
    font-size: 17px;
    min-height: 5vw;
}

.a:hover{

	backdrop-filter: blur(10px);
    background-color: rgba(40, 40, 40, 0.5);
}

.twitter-timeline{
	max-height: 500px;

}

.evento{
	border:2px solid blue;
	display: flex;
}

.eventoData{
	border:2px solid green;
	width: 50%;
	display: flex;
}

.eventoNome{
	border: 2px solid red;
	width: 50%;
	display: flex;
}

/*fim navbar*/

/*inicio cabeçalho*/
#cabecalho{
	width: 100%;
	float:center;
}

#logo{
	align-content: center;
	background-color: black;
	background-repeat: no-repeat;
	background-attachment: fixed;
	width: inherit;
}

#menu{
	width: 96%;
	padding: 2%;
}

.imglogo{
	width: inherit;
}

.abutton{
	padding: 3.2%;
}

.button {
  	border: none;
	color: rgb(229,229,229);
	background-color: black;
 	padding: 16px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 16px;
}

.button:hover{
	color:purple;
}

/*fim cabeçalho*/

/* inicio footer*/

#footer{
	background-color: black;
	width: 100%;
	clear: both;
}

.imgfooter{
	width: 100%;
	align-content: center;
}

/*fim footer*/


.headtitles{
	font-size: 1.5em;
	width: 100%;
	height: 5%;
	padding-left: 3%;
	backdrop-filter: blur(10px);
	color: rgba(255, 255, 255, 0.5);
}

.purple >*{
	display: flex;
	flex-basis: 100%;
	border:1px solid purple;
	width: 100%;
}

/*inicio members*/

.members{
	display: flex;
	align-content: flex center;
	flex-wrap: wrap;
	min-height: 150px;
	padding-left: 1%;
}

.memberspic{
	flex-basis: 100%;
	background: cover;
	max-width: 100%;
	filter: grayscale(100%);
}

.members>div{
	flex-basis:10vw;
	text-align: center; 

}

.amembers{
	text-decoration: none;
	color: white;
}
.memberspic:hover{
	filter: grayscale(0%);
}

/*fim members*/